<div class="row p-3">
  <div class="col-md-3 text-danger">
    <h2 i18n="@@lr_message1">Reservation List</h2>
  </div>
  <div class="col-md-5">
    <h2 i18n="@@lr_message2"> System for reserves management </h2>
  </div>
  <div class="col-md-2 float-right"> <button type="button" class="btn btn-secondary float-right"
      routerLink="/create-reservation" i18n="@@lr_message3">
      Create Reservation </button></div>

  <div class="col-md-2 float-right"> <button type="button" class="btn btn-secondary float-right"
      routerLink="/create-contact" i18n="@@lr_message4">
      Contact management </button></div>
</div>

<p-dataView #dv [value]="listReservation" [paginator]="true" [rows]="5" paginatorPosition="bottom" filterBy="name"
  [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
    <div>
      <div class="row">
        <div class="col-md-6" >
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
            (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
        </div>
        <div class="col-md-6">
          <div style="position:relative" >
            <input type="search" pInputText placeholder="Search by name" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>
      </div>
    </div>
  </p-header>

  <ng-template let-reservation pTemplate="listItem">
    <div class="container">
      <table class="table">

        <tr>
          <td width="20%">{{reservation.id}}</td>
          <td width="20%">{{reservation.name}} <br> {{reservation.date}}</td>
          <td width="20%">
            <a>ranking</a>
            <p-rating [(ngModel)]="reservation.ranking" disabled="true" (onCancel)="handleCancel($event)"></p-rating>
          </td>
          <td width="20%"> Favorites
            <span *ngIf="reservation.favorites == 'S'; else notFavorite"> <i class="pi pi-star"
                style="font-size: 1.5em"></i>

            </span>
            <ng-template #notFavorite> <i class="pi pi-star-o" style="font-size: 1.5em"></i> </ng-template>
          </td>
          <td width="20%">
            <div class="col-md-3 float-right"> <button type="button" class="btn btn-secondary float-right"
                (click)="openModal(reservation)">
                Edit </button></div>
          </td>
        </tr>
      </table>
    </div>
  </ng-template>
</p-dataView>

<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reservationModallLabel">Update data reservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="city">Name city</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="input city"
              [(ngModel)]="reservation.name">
          </div>
          <div class="form-group">
            <label for="ranking">Ranking</label>
            <p-rating id="ranking" name="ranking" [(ngModel)]="reservation.ranking"></p-rating>
          </div>
          <div class="form-group">
            <label for="favorite">Favorite</label>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="favorite" value="S"
                  [(ngModel)]="reservation.favorites">Si
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="favorite" value="N"
                  [(ngModel)]="reservation.favorites">No
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" id="image" name="image" placeholder="input url image"
              [(ngModel)]="reservation.image">
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="pi pi-calendar "></i>
                </div>
              </div>
              <p-calendar [showTime]="true" name="date" id="date" [(ngModel)]="reservation.date" dateFormat="dd/mm/yy">
              </p-calendar>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="updateReservarvation()">Update Reservation</button>
      </div>
    </div>
  </div>
</div>