<div class="row p-4">
  <div class="col-md-4 text-danger">
    <h2>Create Reservation</h2>

  </div>
  <div class="col-md-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et
    dolore
    magna aliqua </div>
  <div class="col-md-3 float-right"> <button type="button" class="btn btn-secondary float-right" routerLink="/"> Return
    </button></div>
</div>

<form>
  <div class="row">

    <div class="col-md-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="pi pi-user"></i></div>
        </div>

        <p-autoComplete [suggestions]="filteredContacts" (completeMethod)="filteredContact($event)" field="name" [size]="30"
          placeholder="Contacts" [minLength]="1" [(ngModel)]="contactSeleted" (onBlur)="onBlurMethod()" name="userNameContact"></p-autoComplete>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="pi pi-globe"></i></div>
        </div>
        <p-dropdown [options]="listContactType" [filter]="true" [style]="{'width':'100%', 'height': '100%'}"
          [(ngModel)]="objContact.contactoType" name="ContactType"></p-dropdown>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="pi pi-mobile"></i></div>
        </div> <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="objContact.phoneNumber" name="userPhoneNumber">
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="pi pi-calendar "></i></div>
        </div>
        <p-calendar [(ngModel)]="objContact.birthDate" name="userBirthDate" dateFormat="dd/mm/yy"></p-calendar>
      </div>
    </div>
  </div>
  <p-editor [style]="{'height':'320px'}"></p-editor>
  <div class="col-md-3 float-right p-4"> <button type="button" class="btn btn-danger float-right" (click)="saveContact()">
      Send
    </button></div>
</form>

<div *ngIf="listReservation.length > 0" class=" pt-4">
  <h2> {{contactSeleted.name}} 's reservation </h2>
  <p-dataView #dv [value]="listReservation" [paginator]="true" [rows]="5" paginatorPosition="bottom" filterBy="name"
    [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
      <div>
        <div class="row">
          <div class="col-md-6">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)"
              [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
          </div>
          <div class="col-md-6">
            <div style="position:relative">
              <input type="search" pInputText placeholder="Search by name" (keyup)="dv.filter($event.target.value)">
            </div>
          </div>
        </div>
      </div>
    </p-header>

    <ng-template let-reservation pTemplate="listItem">
      <div class="container">
        <table class="table">

          <tr>
            <td>{{reservation.id}}</td>
            <td>{{reservation.name}}</td>
            <td>
              <a>ranking</a>
              <p-rating [(ngModel)]="reservation.ranking" disabled="true"></p-rating>
            </td>
            <td> Favorites
              <span *ngIf="reservation.favorites == 'S'; else notFavorite">
                <i class="pi pi-star" style="font-size: 1.5em"></i>

              </span>
              <ng-template #notFavorite>
                <i class="pi pi-star-o" style="font-size: 1.5em"></i>
              </ng-template>
            </td>
            <td>
            </td>
          </tr>
        </table>
      </div>
    </ng-template>
  </p-dataView>
</div>

<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reservationModallLabel">Ingrese los datos de la reservacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="city">Name city</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="input city" [(ngModel)]="reservation.name">
          </div>
          <div class="form-group">
            <label for="ranking">Ranking</label>
            <p-rating id="ranking" name="ranking" [(ngModel)]="reservation.ranking"></p-rating>
          </div>
          <div class="form-group">
            <label for="favorite">Favorite</label>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="favorite" value="S" [(ngModel)]="reservation.favorites">Si
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="favorite" value="N" [(ngModel)]="reservation.favorites">No
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" id="image" name="image" placeholder="input url image" [(ngModel)]="reservation.image">
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="pi pi-calendar "></i>
                </div>
              </div>
              <p-calendar [showTime]="true" name="date" id="date" [(ngModel)]="reservation.date"></p-calendar>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="saveReservarvation()">Save Reservation</button>
      </div>
    </div>
  </div>
</div>